<div class="task-card p-6 border border-gray-300 rounded-lg shadow-lg mb-6 mr-6 w-full">
    <a [routerLink]="['/task', task.id]" class="task-title font-semibold text-xl text-black hover:underline mb-2">
        {{ task.title }}
    </a>

    <p class="task-author text-base text-gray-600  mb-2">
        Автор:
        <a class="underline" [routerLink]="['/user', user.id]" *ngIf="user">
            {{ user.name }} {{ user.surname }}
        </a>
    </p>

    <p class="task-description text-lg text-gray-700 mb-4">
        {{ task.description }}
    </p>

    <div class="task-type inline-block bg-violet-500 text-white py-2 px-4 rounded-full mr-2 mb-2">
        Тип: {{ task.taskType }}
    </div>

    <div class="task-status inline-block bg-green-500 text-white py-2 px-4 rounded-full mb-2">
        Статус: {{ task.taskStatus }}
    </div>
</div>
